<md-nav-list dense>

  <ng-container *ngFor="let chapter of chapters">

    <h3 md-subheader (click)="toggleChapter(chapter)">{{chapter.title}}</h3>

    <ng-container *ngIf="isExpanded(chapter)">
      <a md-list-item class="chapter-link"
         *ngFor="let link of chapter.links"
         routerLink="{{link.url}}"
         routerLinkActive="active">
        {{ link.title }}
      </a>
    </ng-container>

  </ng-container>


  <md-nav-list>

