<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="push" opened="true" class="example-sidenav">
    <aw-sidebar></aw-sidebar>
  </md-sidenav>

  <div class="example-sidenav-content">

    <div class="header">

      <h3>
        Learn Angular Constructs by Example ...
      </h3>

      <button type="button" (click)="sidenav.open()">
        Choose ...
      </button>
    </div>

    <div class="example-content">
      <router-outlet></router-outlet>
    </div>


  </div>

</md-sidenav-container>
