<form [formGroup]="theForm" #formRef="ngForm"
      (ngSubmit)="onSubmit(theForm.value)">

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Name" required
        [formControl]="theForm.controls['name']">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password"
               [formControl]="theForm.controls['password']">
    </div>

    <button type="submit">Submit</button>

</form>

<h3>Debug:</h3>
Valid: {{formRef.valid}}
<br>
Errors: {{formRef.errors | json}}
